.blocked {
    background-color: #ff8d00;
    color: #ffffff;
}

.expelled {
    background-color: #ff0000;
    color: #ffffff;
}

.blocked-expelled {
    background: linear-gradient(to bottom, #ff8d00 50%, #ff0000 50%) no-repeat;
    background-size: calc(100%) calc(100%);
    background-position: top;
    color: #ffffff;
}

.blocked .btn-no-bg {
    color: #ffffff;
}

.expelled .btn-no-bg {
    color: #ffffff;
}

.blocked-expelled .btn-no-bg {
    color: #ffffff;
}

.blocked .btn-no-bg:hover {
    color: #ffffff;
}

.expelled .btn-no-bg:hover {
    color: #ffffff;
}

.blocked-expelled:hover {
    color: #ffffff;
}


.info-circle-blocked {
    border-radius: 50%;
    margin: auto;
    color: #fff;
    font-size: 11px;
    height: 25px;
    width: 25px;
    background-color: #ff8d00;
}

.info-circle-expelled {
    border-radius: 50%;
    margin: auto;
    color: #fff;
    font-size: 11px;
    height: 25px;
    width: 25px;
    background-color: #ff0000;
}

.info-circle-blocked-expelled {
    border-radius: 50%;
    margin: auto;
    color: #fff;
    font-size: 11px;
    height: 25px;
    width: 25px;
    background: linear-gradient(to bottom, #ff8d00 50%, #ff0000 50%) no-repeat;
}

.mb-5px{
    margin-bottom: 5px;
}
.mb-0px{
    margin-bottom: 0!important;
}
.pad-0px{
    padding: 0!important;
}

/*Loading Spinner Start*/
.custom-loader {
    display: block;
    position: absolute;
    left: 50%;
    top: 10%;
    width: 9.375rem;
    height: 9.375rem;
    margin: 0 0 0 -4.6875rem;
    border-radius: 50%;
    border: 0.1875rem solid transparent;
    border-top-color: #9370DB;
    z-index: 1;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 99999;
}

.custom-loader:before {
    content: "";
    position: absolute;
    top: 0.3125rem;
    left: 0.3125rem;
    right: 0.3125rem;
    bottom: 0.3125rem;
    border-radius: 50%;
    border: 0.1875rem solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

.custom-loader:after {
    content: "";
    position: absolute;
    top: 0.9375rem;
    left: 0.9375rem;
    right: 0.9375rem;
    bottom: 0.9375rem;
    border-radius: 50%;
    border: 0.1875rem solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*Loading Spinner End*/

.notifyjs-bootstrap-success {
    background-color: #3fcd05 !important;
}

.notifyjs-bootstrap-warn {
    background-color: #db2c1a !important;
}

.table-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.total-found {
    margin-top: 10px;
}

.modal-scroll {
    height: calc(80vh - 5em);
    overflow-x: auto;
}

.select-all-js, .select-none-js, .select-view-js, .select-create-js, .select-edit-js, .select-delete-js {
    margin-bottom: 5px;
}